body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 280px; /* Adjust the width as needed */
    z-index: 10;
}

#origin-suggestions {
    top: -20px; /* Adjust this value to position the list below the input field */
    left: 320px; /* Move the list outside the container */
}

#destination-suggestions {
    top: 55px; /* Adjust this value to position the list below the input field */
    left: 320px; /* Move the list outside the container */
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.suggestions li:last-child {
    border-bottom: none;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}
